.playAgainContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    height: 40%;
    z-index: 20;
    top: 10px;
}

.playAgainButton {
    width: 200px;
}